*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-color: #f8f8f8;
  overflow-y: visible;
  font-family: "Roboto", sans-serif, Arial, Helvetica;
  font-style: normal;
  position: relative;
}

.container {
  width: 80%;
}

.user-details {
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
}

.user-details .container {
  display: flex;
  justify-content: flex-end;
}

.user-details ul {
  display: flex;
}

.user-details ul li {
  list-style: none;
  margin-left: 20px;
}

.user-details ul li a {
  text-decoration: none;
  color: #f8f8f8;
}

.navbar {
  display: flex;
  justify-content: center;
  background-color: #fff;
  padding: 20px 0;
}

.navbar .containers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  color: #3e3e3e;
}


.nav-flex ul li {
  list-style: none;
  margin-left: 20px;
}

.nav-flex ul li a {
  text-decoration: none;
}



/* .nav-flex ul li a {
    color: #f85816;
} */



.nav-flex ul li:last-child a {
  border: 2px solid #f85816;
  padding: 5px;
  color: #f85816;
}

.main-header {
  background: linear-gradient(rgba(255, 0, 0, 0.5), #ec5242),
    url("./public/children1.jpg");
  width: 100%;
  /* height:50vh; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  display: flex;
  justify-content: center;
  color: #f8f8f8;
}

.head-margin {
    padding: 50px 0
}

.quote {
    color: #f8f8f8;
}

.statement {
    margin-top:25px;
    width:90%;
    border:1px solid#f85816;
    padding:10px 0;
}

.main-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-image: url(./public/times-patterm.png);
    background-color: #282B32;
    color: #fff;
    text-align: center;
}

.main-program h2{
    display:flex;
    flex-direction: column;
    width: 60%;
    padding-top: 50px;
    align-items: center;
}

.main-program h2:after{
  content: "";
  background-color:#ec5242;
  height: 3px;
  margin-top: 5px;
  width: 50px;
}

.col-md {
    padding-left: 10px;
    padding-right: 0;
}

.margin-bg {
   margin: 30px 0;
}

.program-stats {
  display: flex;
  align-items: center;
}

.program-icon {
  display: flex;
}

.bg-transparen {
    background-color: rgba(60, 63, 70, 0.5);
}

footer {
    background-color: #414246;
    color: #8f8f8f;
    text-align: center;
}

footer h2 {
    padding-top: 20px;
}
footer img{
    width:100px;
    margin: 10% 8px;
}

@media all and (max-width: 768px) {
  
  .container {
    width: 90%;
  }

  .user-details {
      display: none;
  }

  .navbar {
    padding: 0;
  }

  .desktop-logo {
      display: none;
  }

  .menubar {
    display: inline-block;
    margin-top: 20px;
    padding: 3px;
    border-radius: 3px;
    cursor: pointer;
    background: #ec5242;
    z-index: 99;
    position: relative;
  }

  .vector {
    width: 33px;
    height: 4px;
    background-color: #acb7c3;
    margin: 8px 4px;
    z-index: 99;
    position: relative;
  }

  #mobile_menu.toggle-menu .vector:nth-child(2) {
    opacity: 0;
  }

  #mobile_menu.toggle-menu .vector:nth-child(1) {
    transform: translateY(12.42px) rotate(45deg);
  }

  #mobile_menu.toggle-menu .vector:nth-child(3) {
    transform: translateY(-12.42px) rotate(-45deg);
  }

  .nav-flex {
    background-color: #ec5242;
    /* display: block; */
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    padding-top: 40px;
    z-index: 5;
    transition: all 0.5s ease;
  }

  .nav-flex ul {
    display: flex;
    flex-direction: column;
   align-items: center;
   margin-right: 20px;
   margin-top: 20px;
  }

  .nav-flex ul li {
    text-align: right;
    list-style-type: none;
    margin-top: 50px;
    font-weight: 500;
   
  }

  .nav-flex ul li:last-child {
    display: none;
  }

  .nav-flex a {
    display: flex;
    flex-direction: column;
    /* text-align: right; */
    /* align-content: center; */
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0;
    text-align: right !important;
    margin: 0;
    color: #f8f8f8;
  }


  .head-margin h1{
    font-size: 32px;
    font-weight: 500;
    line-height: 44px;
  }

  p.quote {
    font-size:20px;
    font-weight:400;
  }

  .statement {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
  }

  .head-margin h2 {
     font-size:24px;
     font-weight:400;
  }

  .main-program h2 {
    font-size: 28px;
    padding-top: 25px;
    /* margin-bottom: 20px; */
  }

  .col-md {
    padding-left: 0;
  }

  .col-sm-5 {
    padding: 0;
  }

  .col-sm-7 {
    padding: 0;
  }

  .program-stats {
    padding: 15px 0;
    align-items: center;
  }

  .program-stats p{
    font-size: 12px;
    margin-bottom: 0;
    /* margin: 0 10px; */
  }
  
  .program-icon {
    flex-direction: row;
    align-items: center;
  }

  .program-icon .fa {
    font-size: 28px;
    margin-left: 10px;
  }

  .program-icon h3 {
    font-size: 20px;
    margin-left: 10px ;
    margin-bottom: 0;
    color: #ec5242;
    text-align: left;
  }

  .main-program h2:after{
    margin-top: 5px;
    width: 50px;
  }

  .margin-bg:first-child {
     margin-top: 35px;
  }

  .margin-bg:last-child {
    margin-bottom: 35px;
 }

  .margin-bg {
    margin: 8px 0;
 }

 .join-btn {
   background-color: #ff4f38;
   color: #f8f8f8;
   padding: 30px;
   margin: 20px 0;
 }

 footer img{
  width: 80px;
}

}

@media all and (min-width: 768px) {
  
  .nav-flex ul {
    display: flex;
    align-items: center;
  }

  .nav-flex ul li a:hover {
    color: #f85816;
  }

  .nav-flex ul li a {
    text-decoration: none;
    color: #3e3e3e;
  }
}
